---
import { SCORE_API_URL } from "astro:env/client"


const score = await fetch(SCORE_API_URL)
const scoreValue = await score.text()
---

<span class="text-xs" id="score">⭐️ Puntuación: {scoreValue.trim()} / 5</span>
