---
import { env } from "astro:env/client";
import axios from "axios";


    const PUBLIC_REPO_API = env.PUBLIC_REPO_API; 

    const response = await axios.get(PUBLIC_REPO_API);
    const repos =  await response.data;

---


{
    repos.map((repo: {name: string, url: string}) => (
        <h1> name: {repo.name} </h1>
        <p> url: { repo.url }</p>
    ))
}